services/connectors/homematic-connector/source/flows/219558b7.844058
[
    {
        "id": "219558b7.844058",
        "type": "tab",
        "label": "Receive raw_message",
        "disabled": false,
        "info": "All logic necessary to receive data (sensor datapoints) from the device, gateway or data source.\n\n# Should return\n... the received message as raw message in the format:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\"\n    }\n}\n```"
    },
    {
        "id": "6aae28b2.fb2688",
        "type": "link out",
        "z": "219558b7.844058",
        "name": "flow \"Receive raw_message\" out",
        "links": [
            "b6c60262.69fb9",
            "1de13059.b5bb"
        ],
        "x": 535,
        "y": 40,
        "wires": []
    },
    {
        "id": "44d4ff67.bf017",
        "type": "ccu-rpc-event",
        "z": "219558b7.844058",
        "name": "",
        "iface": "",
        "ccuConfig": "6db20085.21293",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "",
        "datapointRx": "str",
        "change": false,
        "working": false,
        "cache": false,
        "topic": "${channel}/${datapoint}",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "aaf83fa6.5648f"
            ]
        ]
    },
    {
        "id": "4b49b3ec.4b456c",
        "type": "ccu-rpc-event",
        "z": "219558b7.844058",
        "name": "",
        "iface": "",
        "ccuConfig": "6db20085.21293",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "OEQ1573206:2",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "SET_TEMPERATURE",
        "datapointRx": "str",
        "change": false,
        "working": false,
        "cache": true,
        "topic": "${channel}/${datapoint}",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "86e43adf.486dc8"
            ]
        ]
    },
    {
        "id": "86e43adf.486dc8",
        "type": "debug",
        "z": "219558b7.844058",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "88532cf2.20b2",
        "type": "ccu-rpc-event",
        "z": "219558b7.844058",
        "name": "",
        "iface": "",
        "ccuConfig": "6db20085.21293",
        "rooms": "",
        "roomsRx": "str",
        "functions": "",
        "functionsRx": "str",
        "device": "",
        "deviceRx": "str",
        "deviceName": "wall_thermostat 3.1.12",
        "deviceNameRx": "str",
        "deviceType": "",
        "deviceTypeRx": "str",
        "channel": "",
        "channelRx": "str",
        "channelName": "",
        "channelNameRx": "str",
        "channelType": "",
        "channelTypeRx": "str",
        "channelIndex": "",
        "channelIndexRx": "str",
        "datapoint": "SET_TEMPERATURE",
        "datapointRx": "str",
        "change": false,
        "working": false,
        "cache": true,
        "topic": "${channel}/${datapoint}",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "c351d269.3da9b"
            ]
        ]
    },
    {
        "id": "c351d269.3da9b",
        "type": "debug",
        "z": "219558b7.844058",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 613.0142211914062,
        "y": 653.0056762695312,
        "wires": []
    },
    {
        "id": "aaf83fa6.5648f",
        "type": "function",
        "z": "219558b7.844058",
        "name": "To raw_message format",
        "func": "\nmsg = {\n    \"payload\": {\n        \"raw_message\": msg\n    }\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "6aae28b2.fb2688"
            ]
        ]
    },
    {
        "id": "6db20085.21293",
        "type": "ccu-connection",
        "z": "",
        "name": "EnvVar CCU",
        "host": "${CCU_DNS_NAME}",
        "regaEnabled": true,
        "bcrfEnabled": true,
        "iprfEnabled": false,
        "virtEnabled": false,
        "bcwiEnabled": false,
        "cuxdEnabled": false,
        "regaPoll": true,
        "regaInterval": "30",
        "rpcPingTimeout": "60",
        "rpcInitAddress": "${CALLBACK_DNS_NAME}",
        "rpcServerHost": "0.0.0.0",
        "rpcBinPort": "${CALLBACK_BINRPC_PORT}",
        "rpcXmlPort": "${CALLBACK_XMLRPC_PORT}",
        "queueTimeout": "5000",
        "queuePause": "250",
        "contextStore": ""
    }
]
