service_templates/connectors/Node-RED/source/Node-RED_data/flows.json
[
    {
        "id": "927c9b3e.6d8038",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "**Do not edit this flow.**\n\nThis is the main data processing logic for the connectors, the connector template. This flow matches the expected communication pattern of the central API. Hence, again: \n\n**Do not edit this flow.**"
    },
    {
        "id": "68dfd515.661f7c",
        "type": "tab",
        "label": "Specify available_datapoints",
        "disabled": false,
        "info": "This flow should be used to specify available_datapoints. This can be useful to\n* Define available actuators, as these will not be detected automatically by default.\n* Some logic in the flow \"Receive raw_message\" needs to explicitly requiest the data, e.g. by polling some API.\n* If you can simply detect all available datapoints, e.g. by calling some API of the gateway.\n\nDepending on the situation one can simply manually add the data on available datapoints to the \"Manually define additional datapoint\" node, or implement some more advanced logic here that does the sensing automatically.\n\n"
    },
    {
        "id": "219558b7.844058",
        "type": "tab",
        "label": "Receive raw_message",
        "disabled": false,
        "info": "All logic necessary to receive data (sensor datapoints) from the device, gateway or data source.\n\n# Should return\n... the received message as raw message in the format:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\"\n    }\n}\n```"
    },
    {
        "id": "545ec5f2.a5913c",
        "type": "tab",
        "label": "Parse raw_message",
        "disabled": false,
        "info": "Parse an object from the raw data.\n\n# Receives\n... a message structured like this:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\",\n        \"timestamp\": 1573680749000\n    }\n}\n```\n\n# Should return\n... a message containing the a parsed version of the raw data, structured like this:\n```\nmsg = {\n    \"payload\": {\n        \"parsed_message\": <the parsed data as object>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"parsed_message\": {\n            \"device_1\": {\n                \"sensor_1\": \"a string\",\n                \"sensor_2\": 1.23,\n                \"sensor_2\": true\n            }\n        },\n        \"timestamp\": 1573680749000\n    }\n}\n```"
    },
    {
        "id": "9f1169a9.8e23c8",
        "type": "tab",
        "label": "Send command",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2efd25f0.1862ca",
        "type": "tab",
        "label": "Debug Dashboard",
        "disabled": true,
        "info": "This is dashboard that should help while developing or debugging the connector. \n\nGot to [/ui](/ui) to open it."
    },
    {
        "id": "2f246a38.edf956",
        "type": "subflow",
        "name": "Log handler",
        "info": "A central log handler that sends all log messages of Node-REDs internal logger via MQTT. The messages are published on the topic defined by the `MQTT_TOPIC_LOGS` environment variable.\nThe log handler uses a TCP socket to connect Node-REDs internal logger with the flow.\n\n# Usage\nDeploy one (and only one) instance of the node in a Node-RED instance. If you deploy more than one node the following error will occur:\n```\n\"unable to listen on port 1337, error: Error: listen EADDRINUSE: address already in use :::1338\"\n```\nYou may have to restart Node-RED (or the container) after inserting the node in the flow.\n\nAll log messages will be caught automatically, this includes the warn and error messages displayed in Node-REDs debug message log but also the internal info messages not shown there. \n\nTo explicitly log in function nodes use the `node` attribute as explained [here](https://nodered.org/docs/user-guide/writing-functions#logging-events), i.e. use: \n\n```\nnode.log(..)\nnode.warn(..)\nnode.error(..)\nnode.debug(..)\nnode.trace(..)\n```\n\n# Log levels\n\n... are converted to python standard, that is:\n\n* 10 (DEBUG) Something happened which is only relevant for developers of the application.\n* 20 (INFO) Something happened.\n* 30 (WARN) Something happened, which is not a problem a the moment but may become one in future. No data is lost.\n* 40 (ERROR) An error occurred, the processing of one or more messages failed. Some data is lost and/or has not reached the end of the flow. Node-RED and the flows still work.\n* 50 (FATAL) A flow or Node-RED crashed and does not operation as intended. You should not expect that FATAL logs are forwarded as the flow may already be halted.\n\n# Preliminaries\n\nIn order to make this flow work one needs to append the following code into `settings.js` in the `logging` section:\n\n```\n        // Custom log handler that forwards log messages via tcp socket.\n        logforwarder: {\n            // Node red logger configuration see https://nodered.org/docs/user-guide/runtime/logging\n            level: 'info',\n            metrics: false,\n            audit: false,\n            handler: function(conf) {\n                var net = require('net')\n                var logPort = 1337\n                var logHost = 'localhost'\n                var message_cache = []\n                var client_connected = false\n                var client_connecting_scheduled = false\n                var client = new net.Socket()\n\n                // Send message to console, similar format as Node-RED does.\n                // These will not be caught by the logforwarder.\n                function console_log(message){\n                    let now = new Date()\n                    // Add something like \"25 Nov\"\n                    let formated = now.toUTCString().slice(5, 11)\n                    // This should add something like \" 14:24:13\"\n                    formated += now.toUTCString().slice(16, -4)\n                    formated += \" - [info] [LogForwarder] \"\n                    formated += message\n                    console.log(formated)\n                }\n\n                // Send all cached messages once the connection is established.\n                client.on('connect', function() {\n                    console_log(\"LogForwarder: Connected\")\n                    client_connected = true\n                    client_connecting_scheduled = false\n                    while(message_cache.length) {\n                        client.write(JSON.stringify(message_cache.shift())+\"\\n\")\n                    }\n                })\n\n                client.on('error', function(err){\n                    if (client_connected === true){\n                        console_log(\n                          \"LogForwarder: Experienced error. Reconnecting.\"\n                        )\n                        console_log(err)\n                        client_connected = false\n                    }\n                    if (client_connecting_scheduled === false){\n                        client_connecting_scheduled = true\n                        // Delay connecting to allow Node-Red to list to\n                        // TCP port first.\n                        setTimeout(function(){\n                            client.connect(logPort, logHost)\n                        }, 2500)\n                    }\n                })\n\n                // Return the function that will do the actual logging to the\n                // logging system.\n                return function(msg) {\n                    // Store message so it won't get lost on error\n                    message_cache.push(msg)\n                    if (client_connected === true) {\n                            client.write(JSON.stringify(msg)+\"\\n\")\n                            // Remove message if send successfully.\n                    } else {\n\n                        if (client_connecting_scheduled === false){\n                            client_connecting_scheduled = true\n                            // Delay connecting to allow Node-Red to list to\n                            // TCP port first.\n                            setTimeout(function(){\n                                client.connect(logPort, logHost)\n                            }, 2500)\n                        }\n                    }\n                }\n            }\n        }\n```",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#7bb27f",
        "icon": "node-red/envelope.svg",
        "status": {
            "x": 800,
            "y": 280,
            "wires": [
                {
                    "id": "d09fe5cf.357788",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4b055c82.2ce1b4",
        "type": "subflow",
        "name": "Heartbeat",
        "info": "This node sends a periodic heartbeat every `heartbeat_period` seconds via MQTT to the topic defined in the environment variable `MQTT_TOPIC_HEARTBEAT`. \n\nThe `heartbeat_period` defaults to 5 seconds and can be changed as subflow property. \n\nThe heartbeat message object looks e.g. like this:\n\n```\n\"payload\": {\n\t\"this_heartbeats_timestamp\": 1571927361261,\n \t\"next_heartbeats_timestamp\": 1571927366261\n}\n```",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "heartbeat_period",
                "type": "num",
                "value": "5",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    },
                    "label": {}
                }
            }
        ],
        "color": "#FF0000",
        "icon": "node-red/status.svg",
        "status": {
            "x": 400,
            "y": 200,
            "wires": [
                {
                    "id": "60fdc941.ed1208",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "a96a98ee.ee4868",
        "type": "subflow",
        "name": "datapoint_map receiver",
        "info": "This subflow will listen to the MQTT topic defined in the environment variable `MQTT_TOPIC_DATAPOINT_MAP` for datapoint mappings, that is the information which datapoint should be read/written from/to which MQTT topic. The datapoint mappings are stored in the global variable `datapoint_map`.\n\nThe expected and stored datapoint map is formated as follows:\n```\n\"sensor\": {\n\t\"Channel__P__value__0\": \"example-connector/msgs/0001\",\n    \"Channel__P__unit__0\": \"example-connector/msgs/0002\",\n},\n\"actuator\": {\n\t\"example-connector/msgs/0003\": \"Channel__P__setpoint__0\",\n}\n```",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#D8BFD8",
        "icon": "node-red/arrow-in.svg",
        "status": {
            "x": 260,
            "y": 240,
            "wires": [
                {
                    "id": "2612c66a.8fd3fa",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "3674b7d8.02a168",
        "type": "subflow",
        "name": "Update available_datapoints",
        "info": "# General\nThis subflow can be used to manage which datapoints are available and send respective messages to the admin panel. It is not necessary to define all available datapoints at a time, instead it is ok to send in information on one/many available datatpoints in seperate messages. The later is useful to automatically generate the list of available datapoints while listening to incoming sensor messages. \n\nThe subflow will maintain a backup of the latest list of available messages in `available_messages.json`. This prevents sending false alarms to the admin panel that datapoints are no longer available after restarting the flow. If you have removed datapoints you should delete the file to forward the information.\n\n# Receives\n... a message formated like: \n```\nmsg = {\n    \"payload\": {\n    \t\"sensor\": {\n    \t\t<internal id of sensor 1>: <example value of sensor 1>,\n            <internal id of sensor 2>: <example value of sensor 2>,\n            ...\n    \t},\n    \t\"actuator\": {\n    \t\t<internal id of actuator 1>: <example value of actuator 1>,\n    \t\t<internal id of actuator 2>: <example value of actuator 2>,\n    \t\t...\n    \t}\n    }\n}\n```\nE.g. \n```\nmsg = {\n    \"payload\": {\n    \t\"sensor\": {\n    \t\t\"Channel__P__value__0\": 0.122,\n            \"Channel__P__unit__0\": \"kW\",\n    \t},\n    \t\"actuator\": {\n    \t\t\"Channel__P__setpoint__0\": 0.4,\n    \t}\n    }\n}\n```",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "e82a08cd.b2e278"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#3FADB5",
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "879bee.da78c41",
        "type": "mqtt-broker",
        "z": "2f246a38.edf956",
        "name": "environment variable broker",
        "broker": "$(MQTT_BROKER_HOST)",
        "port": "$(MQTT_BROKER_PORT)",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f0d21eb0.93967",
        "type": "mqtt-broker",
        "name": "environment variable broker",
        "broker": "$(MQTT_BROKER_HOST)",
        "port": "$(MQTT_BROKER_PORT)",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4790cc64.e97654",
        "type": "ui_group",
        "name": "Last raw_message",
        "tab": "e956aab2.3fa2e8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8056e3d2.f6271",
        "type": "ui_group",
        "name": "Last parsed_message",
        "tab": "e956aab2.3fa2e8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "daf5703a.8b832",
        "type": "ui_group",
        "name": "All flattened keys  ",
        "tab": "628fbb07.0d2ec4",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "a87331e5.f8aba",
        "type": "ui_group",
        "name": "available_datapoints",
        "tab": "d71e90b9.b86b6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "79b14016.f4c",
        "type": "ui_group",
        "name": "datapoint_map",
        "tab": "d71e90b9.b86b6",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "262945f0.b0907a",
        "type": "ui_group",
        "name": "Logs & Heartbeats",
        "tab": "936c284e.6745e8",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "ba7e29cc.1189b8",
        "type": "ui_group",
        "name": "available_datapoints",
        "tab": "7366786e.b65e88",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "b8ac304a.3d78a",
        "type": "ui_group",
        "name": "datapoint_map",
        "tab": "fcecda39.d10728",
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "8eebe15.705ee2",
        "type": "ui_group",
        "name": "Send Message",
        "tab": "d740d06.f05d43",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "e956aab2.3fa2e8",
        "type": "ui_tab",
        "name": "Sensor Messages",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "628fbb07.0d2ec4",
        "type": "ui_tab",
        "name": "Sensor Keys & Values",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d71e90b9.b86b6",
        "type": "ui_tab",
        "name": "Available Datapoints & Map JSON",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "936c284e.6745e8",
        "type": "ui_tab",
        "name": "Logs & Heartbeats",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7366786e.b65e88",
        "type": "ui_tab",
        "name": "Available Datapoints Table",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcecda39.d10728",
        "type": "ui_tab",
        "name": "Datapoint Map Table",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d740d06.f05d43",
        "type": "ui_tab",
        "name": "Send Actuator Message",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17867444.dc1d5c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "15dbf18e.97efbe",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8eebe15.705ee2",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1980e6e1.5dc979",
        "type": "change",
        "z": "927c9b3e.6d8038",
        "name": "Add receival timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "7e5140d4.21391",
                "5d6ccddc.75fcd4"
            ]
        ],
        "info": "Append the timestamp.\n# Returns\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\",\n        \"timestamp\": 1573680749000\n    }\n}\n```"
    },
    {
        "id": "ac872115.7ebd2",
        "type": "tcp in",
        "z": "2f246a38.edf956",
        "name": "",
        "server": "server",
        "host": "",
        "port": "1337",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7cba1842.0813a8"
            ]
        ]
    },
    {
        "id": "d4772456.48c0d8",
        "type": "comment",
        "z": "2f246a38.edf956",
        "name": "Display the combined status of the tcp connection with the Node-RED logger and mqtt connection as subflow status.",
        "info": "",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "a7489345.cc4ee",
        "type": "function",
        "z": "2f246a38.edf956",
        "name": "Format log msg",
        "func": "/*\nThe incomming object looks like:\n\ntopic: \"\"\npayload: \n    level: 40\n    id: \"21b82c2e.44d1e4\"\n    type: \"function\"\n    msg: \"TEest 112233\"\n    _alias: \"cd54c61d.3064d8\"\n    z: \"81cb38e5.a724b8\"\n    timestamp: 1571843907448\nip: \"::ffff:127.0.0.1\"\nport: 54404\n_session:\n    type: \"tcp\"\n    id: \"b4c68458.f1e368\"\n_msgid: \"ef84fdce.533b1\"\n\nThe outgoing msg should look like:\npayload: \n    timestamp: 1571843907448\n    msg: \"TEest 112233\"\n    emitter: \"cd54c61d.3064d8\"\n    level: 20\n*/ \n\n// The node id of the emitting node is stored in _alias if the node is within a\n// subflow. Else it's the id field\nlet emitter\nif ('_alias' in msg.payload) {\n    emitter = msg.payload._alias\n} else {\n    emitter = msg.payload.id\n}\n\n// Parse the log levels to Python convention\nlet level\nswitch (msg.payload.level) {\n    case 10:\n        level = 50\n        break\n    case 20:\n        level = 40\n        break\n    case 30:\n        level = 30\n        break\n    case 40:\n        level = 20\n        break\n    case 50:\n        level = 10\n        break\n    default:\n        level = null\n}\n\npayload = {\n    \"timestamp\": msg.payload.timestamp,\n    \"msg\": msg.payload.msg,\n    \"emitter\": emitter,\n    \"level\": level\n}\n\nreturn {\"payload\": payload}",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "f18f0326.62d8b"
            ]
        ]
    },
    {
        "id": "7cba1842.0813a8",
        "type": "json",
        "z": "2f246a38.edf956",
        "name": "String to JSON objecet",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "a7489345.cc4ee"
            ]
        ]
    },
    {
        "id": "8c4b1179.2783d",
        "type": "comment",
        "z": "2f246a38.edf956",
        "name": "The pipe line for the log msgs. Append other endpoints as required.",
        "info": "",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "f18f0326.62d8b",
        "type": "mqtt out",
        "z": "2f246a38.edf956",
        "name": "",
        "topic": "$(MQTT_TOPIC_LOGS)",
        "qos": "2",
        "retain": "false",
        "broker": "879bee.da78c41",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "269a9da2.6ce062",
        "type": "status",
        "z": "2f246a38.edf956",
        "name": "",
        "scope": [
            "ac872115.7ebd2",
            "f18f0326.62d8b"
        ],
        "x": 100,
        "y": 280,
        "wires": [
            [
                "d09fe5cf.357788"
            ]
        ]
    },
    {
        "id": "d09fe5cf.357788",
        "type": "function",
        "z": "2f246a38.edf956",
        "name": "Compute subflow status",
        "func": "/* This node will receive status messages from \"tcp in\" node and \"mqtt out\".\n\nThe \"tcp in\" status looks like this:\nstatus:\n    text: \"1 connection\"\n    event: \"connect\"\n    ip: \"::ffff:127.0.0.1\"\n    port: 57886\n_session:\n    type: \"tcp\"\n    id: \"4a30194f.2d0008\"\nsource:\n    id: \"51c67f81.6eaad\"\n    type: \"tcp in\"\n_msgid: \"bb2b70c5.abf9f\"\n\nThe \"mqtt out\" status like this:\nstatus:\n    fill: \"yellow\"\n    shape: \"ring\"\n    text: \"node-red:common.status.connecting\"\nsource:\n    id: \"9a6c9ede.e185c\"\n    type: \"mqtt out\"\n_msgid: \"45a3aa0f.960234\"\n\nThe following code will compute the following status:\n* green (connected): if both ends are connected.\n* yellow ring (connecting): if any of both ends are still connecting.\n* grey ring (unknown): for undefined states, especially if more than\n  one endpoint is connected to \"tcp in\"\n* red (disconnected): If one of both nodes is not connected.\n*/\n\n// Store the last status for each of the two nodes, as only one is received\n// at a time but both are required to compute the status.\nif (msg.status.source.type === \"mqtt out\") {\n    context.set('mqtt_status_text', msg.status.text)\n}\nif (msg.status.source.type === \"tcp in\") {\n    context.set('tcp_status_text', msg.status.text)\n}\n\n// Compute the status assume disconnected as default value.\nlet status\nlet mqtt_status_text = context.get(\"mqtt_status_text\") || \"node-red:common.status.disconnected\"\nlet tcp_status_text = context.get(\"tcp_status_text\") || \"0 connection\"\n\nif (mqtt_status_text === \"node-red:common.status.connected\" && \n        tcp_status_text === \"1 connection\") {\n    status = {\n        \"fill\": \"green\",\n        \"shape\": \"dot\",\n        \"text\": \"node-red:common.status.connected\"\n    }\n    return {\"status\": status}\n}\n\nif (mqtt_status_text === \"node-red:common.status.disconnected\" || \n        tcp_status_text === \"0 connection\") {\n    status = {\n        \"fill\": \"red\",\n        \"shape\": \"ring\",\n        \"text\": \"node-red:common.status.disconnected\",\n        \"tcp status\": tcp_status_text\n    }\n    return {\"status\": status}\n}\n\n// TCP in has no connecting phase. Hence only connecting status\n// if already connected to tcp in.\nif (mqtt_status_text === \"node-red:common.status.connecting\" && \n        tcp_status_text === \"1 connection\") {\n    status = {\n        \"fill\": \"yellow\",\n        \"shape\": \"ring\",\n        \"text\": \"node-red:common.status.connecting\"\n    }\n    return {\"status\": status}\n}\n\n// For every other state, which should \nstatus = {\n    \"fill\": \"grey\",\n    \"shape\": \"ring\",\n    \"text\": \"unknown\"\n}\n\nreturn {\"status\": status}",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f3d7689a.7f5be8",
        "type": "inject",
        "z": "4b055c82.2ce1b4",
        "name": "",
        "repeat": "$(heartbeat_period)",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "66e8a12a.91483"
            ]
        ]
    },
    {
        "id": "1c3a8d6.3407573",
        "type": "mqtt out",
        "z": "4b055c82.2ce1b4",
        "name": "",
        "topic": "$(MQTT_TOPIC_HEARTBEAT)",
        "qos": "",
        "retain": "",
        "broker": "f0d21eb0.93967",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "66e8a12a.91483",
        "type": "function",
        "z": "4b055c82.2ce1b4",
        "name": "Format heartbeat msg",
        "func": "let heartbeat_period = env.get(\"heartbeat_period\")\n\n//timestamps as usual in milliseconds, hearbeat period in seconds\npayload = {\n    \"this_heartbeats_timestamp\": msg.payload,\n    \"next_heartbeats_timestamp\": msg.payload + heartbeat_period * 1000\n}\nreturn {\"payload\": payload}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "1c3a8d6.3407573"
            ]
        ]
    },
    {
        "id": "a6b20f83.8bb9d",
        "type": "comment",
        "z": "4b055c82.2ce1b4",
        "name": "Periodically send the heartbeat messages.",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "60fdc941.ed1208",
        "type": "status",
        "z": "4b055c82.2ce1b4",
        "name": "",
        "scope": [
            "1c3a8d6.3407573"
        ],
        "x": 100,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b58bf767.ab87a8",
        "type": "comment",
        "z": "4b055c82.2ce1b4",
        "name": "Display MQTT connection status as subflow status",
        "info": "",
        "x": 230,
        "y": 160,
        "wires": []
    },
    {
        "id": "2e5b1c4.20be3e4",
        "type": "subflow:4b055c82.2ce1b4",
        "z": "927c9b3e.6d8038",
        "name": "",
        "env": [],
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "d9bfa648.e879e8",
        "type": "subflow:a96a98ee.ee4868",
        "z": "927c9b3e.6d8038",
        "name": "",
        "env": [],
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "b7064af6.613328",
        "type": "mqtt out",
        "z": "927c9b3e.6d8038",
        "name": "",
        "topic": "$(MQTT_TOPIC_RAW_MESSAGE_TO_DB)",
        "qos": "2",
        "retain": "false",
        "broker": "f0d21eb0.93967",
        "x": 1170,
        "y": 220,
        "wires": [],
        "info": "Send raw_message content to raw_message DB."
    },
    {
        "id": "7e5140d4.21391",
        "type": "switch",
        "z": "927c9b3e.6d8038",
        "name": "if ${SEND_RAW_MESSAGE_TO_DB} == TRUE",
        "property": "SEND_RAW_MESSAGE_TO_DB",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "TRUE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 220,
        "wires": [
            [
                "b7064af6.613328"
            ]
        ]
    },
    {
        "id": "2ee2fa20.944a36",
        "type": "mqtt in",
        "z": "927c9b3e.6d8038",
        "name": "",
        "topic": "$(MQTT_TOPIC_RAW_MESSAGE_REPROCESS)",
        "qos": "1",
        "datatype": "json",
        "broker": "f0d21eb0.93967",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "5d6ccddc.75fcd4"
            ]
        ],
        "info": "Yields old messages stored in the raw_message DB scheduled for reprocessing."
    },
    {
        "id": "4167d4ab.a3237c",
        "type": "function",
        "z": "927c9b3e.6d8038",
        "name": "Flatten object",
        "func": "// from https://stackoverflow.com/questions/44134212/best-way-to-flatten-js-object-keys-and-values-to-a-single-depth-array\nfunction flattenObject(ob) {\n    var toReturn = {};\n\n    for (var i in ob) {\n        if (!ob.hasOwnProperty(i)) continue;\n\n        if ((typeof ob[i]) == 'object' && ob[i] !== null) {\n            var flatObject = flattenObject(ob[i]);\n            for (var x in flatObject) {\n                if (!flatObject.hasOwnProperty(x)) continue;\n                \n                toReturn[i + '__' + x] = flatObject[x];\n            }\n        } else {\n            // this only runs for leafs, try to parse if possible.\n            let value = ob[i];\n            try {\n                value = JSON.parse(value);\n            } catch {}\n            toReturn[i] = value;\n        }\n    }\n    return toReturn;\n}\n\nlet parsed_message = msg.payload.parsed_message\nlet flattened_message = flattenObject(parsed_message)\ndelete msg.payload.parsed_message\nmsg.payload[\"flattened_message\"] = flattened_message\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 340,
        "wires": [
            [
                "961689eb.6df078",
                "5a8f8f58.d3c16"
            ]
        ],
        "info": "Flattens the incomming object to depth 1, i.e that every leaf of the incomming object can be accessed with a unique key directly from flat_message object.\n# Returns\nShould return the a message with the flattend data like:\n```\nmsg = {\n    \"payload\": {\n        \"flattened_message\": <the parsed data as flattend object>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"flattened_message\": {\n            \"device_1__sensor_1\": \"2.12\"\n            \"device_1__sensor_2\": \"3.12\"\n        },\n        \"timestamp\": 1573680749000\n    }\n}\n```"
    },
    {
        "id": "109d9d31.a7bed3",
        "type": "function",
        "z": "219558b7.844058",
        "name": "Throw not implemented error",
        "func": "node.error(\"Logic in flow \\\"Receive raw_message\\\" not implemented\")",
        "outputs": 0,
        "noerr": 0,
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "bcadc615.60c708",
        "type": "inject",
        "z": "219558b7.844058",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "109d9d31.a7bed3"
            ]
        ]
    },
    {
        "id": "6aae28b2.fb2688",
        "type": "link out",
        "z": "219558b7.844058",
        "name": "flow \"Receive raw_message\" out",
        "links": [
            "b6c60262.69fb9"
        ],
        "x": 635,
        "y": 40,
        "wires": []
    },
    {
        "id": "b6c60262.69fb9",
        "type": "link in",
        "z": "927c9b3e.6d8038",
        "name": "flow \"Main\" in (after \"Receive raw_message\")",
        "links": [
            "6aae28b2.fb2688"
        ],
        "x": 275,
        "y": 220,
        "wires": [
            [
                "1980e6e1.5dc979"
            ]
        ]
    },
    {
        "id": "2a627646.87bc4a",
        "type": "comment",
        "z": "927c9b3e.6d8038",
        "name": "Processing of sensor datapoint messages",
        "info": "",
        "x": 180,
        "y": 180,
        "wires": []
    },
    {
        "id": "5d6ccddc.75fcd4",
        "type": "link out",
        "z": "927c9b3e.6d8038",
        "name": "flow \"Main\" out (before \"Parse raw_message\")",
        "links": [
            "6a1342ab.73305c"
        ],
        "x": 615,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a1342ab.73305c",
        "type": "link in",
        "z": "545ec5f2.a5913c",
        "name": "flow \"Parse raw_message\" in",
        "links": [
            "5d6ccddc.75fcd4"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "c3e26a30.4a4b08"
            ]
        ]
    },
    {
        "id": "376a4260.2d545e",
        "type": "link out",
        "z": "545ec5f2.a5913c",
        "name": "flow \"Parse raw_message\" out",
        "links": [
            "498bc454.265e5c"
        ],
        "x": 515,
        "y": 40,
        "wires": []
    },
    {
        "id": "498bc454.265e5c",
        "type": "link in",
        "z": "927c9b3e.6d8038",
        "name": "flow \"Main\" in (after \"Parse raw_message\")",
        "links": [
            "376a4260.2d545e"
        ],
        "x": 855,
        "y": 280,
        "wires": [
            [
                "4167d4ab.a3237c"
            ]
        ]
    },
    {
        "id": "3f718945.ab8206",
        "type": "comment",
        "z": "927c9b3e.6d8038",
        "name": "Flow: Parse raw_message",
        "info": "Parse an object from the raw data.\n\n# Receives\n... a message structured like this:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\",\n        \"timestamp\": 1573680749000\n    }\n}\n```\n\n# Should return\n... a message containing the a parsed version of the raw data, structured like this:\n```\nmsg = {\n    \"payload\": {\n        \"parsed_message\": <the parsed data as object>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"parsed_message\": {\n            \"device_1\": {\n                \"sensor_1\": \"a string\",\n                \"sensor_2\": 1.23,\n                \"sensor_2\": true\n            }\n        },\n        \"timestamp\": 1573680749000\n    }\n}\n```",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "c3e26a30.4a4b08",
        "type": "function",
        "z": "545ec5f2.a5913c",
        "name": "Throw not implemented error",
        "func": "node.error(\"Logic in flow \\\"Parse raw_message\\\" not implemented\")",
        "outputs": 0,
        "noerr": 0,
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "113065f1.cbdada",
        "type": "comment",
        "z": "927c9b3e.6d8038",
        "name": "Flow: Receive raw_message",
        "info": "All logic necessary to receive data from device, gateway or data source.\n\n# Should return\n... the received message as raw message in the format:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\"\n    }\n}\n```",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "961689eb.6df078",
        "type": "change",
        "z": "927c9b3e.6d8038",
        "name": "convert format to update available_datapoints with the currently processed sensor datapoints",
        "rules": [
            {
                "t": "move",
                "p": "payload.flattened_message",
                "pt": "msg",
                "to": "payload.sensor",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.timestamp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "a5ae1e6e.e530a"
            ]
        ]
    },
    {
        "id": "a5ae1e6e.e530a",
        "type": "subflow:3674b7d8.02a168",
        "z": "927c9b3e.6d8038",
        "name": "",
        "env": [],
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "5a8f8f58.d3c16",
        "type": "function",
        "z": "927c9b3e.6d8038",
        "name": "Filter datapoints and build sensor messages",
        "func": "// Use an empty datapoint map if none has been received via MQTT yet to prevent\n// the script from throwing errors.\nlet datapoint_map = global.get(\"datapoint_map\") || {\"sensor\": {}, \"actuator\": {}}\nlet sensor_map = datapoint_map[\"sensor\"]\n\nlet datapoint_msgs = []\nlet sensor_data_flat = msg.payload.flattened_message\n\n// We could also iterate over all entries of sensor map, but this should be more\n// efficient if we expect many messages with only some datapoints, as e.g. is\n// the case for homematic.\nfor (let internal_sensor_id in sensor_data_flat){\n    // Only process messages of datapoints which have been selected for sending\n    // via MQTT in the central admin UI.\n    if (internal_sensor_id in sensor_map){\n        let datapoint_msg = {\n            \"payload\": {\n                \"value\": sensor_data_flat[internal_sensor_id],\n                \"timestamp\": msg.payload.timestamp,\n            },\n            \"topic\": sensor_map[internal_sensor_id],\n        }\n        datapoint_msgs.push(datapoint_msg)\n    }\n    \n}\n\nreturn [datapoint_msgs]",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "517add71.6239e4"
            ]
        ],
        "info": "This function block will create one message for every entry in the input msg that has been selected for sending to the message broker, that is an entry for which a datapoint_map entry exists.\n\n# Given \n... that a datapoint_map is stored in global context with content:\n```\n{\n    \"sensor\": {\n        \"device_1__sensor_1\": \"example-connector/msgs/0001\",\n        \"device_1__sensor_2\": \"example-connector/msgs/0002\"\n    },\n    \"actuator\": {\n        \"example-connector/msgs/0003\": \"device_1__actuator_1\"\n    }\n}\n```\n\n# Receives\nAnd this block would receive the following input: \n```\nmsg = {\n    \"payload\": {\n        \"flattened_message\": {\n            \"device_1__sensor_1\": \"2.12\",\n            \"device_1__sensor_2\": \"3.12\",\n            \"device_2__sensor_2\": \"88822\"\n        },\n        \"timestamp\": 1573680749000\n    }\n}\n```\n\n# Returns\nThe node would return the following two messages:\n```\nmsg = {\n    \"payload\": {\n        \"value\": \"2.12\",\n        \"timestamp\": 1573680749000,\n    },\n    \"topic\": \"example-connector/msgs/0001\",\n}\n\nmsg = {\n    \"payload\": {\n        \"value\": \"3.12\",\n        \"timestamp\": 1573680749000,\n    },\n    \"topic\": \"example-connector/msgs/0002\",\n}\n\n```\n"
    },
    {
        "id": "517add71.6239e4",
        "type": "mqtt out",
        "z": "927c9b3e.6d8038",
        "name": "MQTT datapoint message topics",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "f0d21eb0.93967",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "9d68458f.255748",
        "type": "comment",
        "z": "927c9b3e.6d8038",
        "name": "Processing of actuator datapoint messages",
        "info": "",
        "x": 180,
        "y": 540,
        "wires": []
    },
    {
        "id": "f5ba72cb.d2e31",
        "type": "mqtt in",
        "z": "927c9b3e.6d8038",
        "name": "",
        "topic": "$(MQTT_TOPIC_DATAPOINT_MESSAGE_WILDCARD)",
        "qos": "1",
        "datatype": "json",
        "broker": "f0d21eb0.93967",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "14995022.9f798"
            ]
        ]
    },
    {
        "id": "14995022.9f798",
        "type": "function",
        "z": "927c9b3e.6d8038",
        "name": "Filter for actuator messages",
        "func": "let datapoint_map = global.get(\"datapoint_map\") || {\"sensor\": {}, \"actuator\": {}}\nlet actuator_map = datapoint_map[\"actuator\"]\n\nif (msg.topic in actuator_map){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "a133ab62.e45ec8"
            ]
        ],
        "info": "This notes lets only these messages through that are actuator messages for this particular connector. This filtering is necessary as there is no way (known to the author) of using dynmic topic lists for receiving MQTT messages in Node-RED.\n\n# Given \n... that a datapoint_map is stored in global context with content:\n```\n{\n    \"sensor\": {\n        \"device_1__sensor_1\": \"example-connector/msgs/0001\",\n        \"device_1__sensor_2\": \"example-connector/msgs/0002\"\n    },\n    \"actuator\": {\n        \"example-connector/msgs/0003\": \"device_1__actuator_1\"\n    }\n}\n```\n\n# Returns\nThis node would only let messages pass through that have been received on topic `example-connector/msgs/0003`."
    },
    {
        "id": "5e4aacbf.6c95d4",
        "type": "subflow:3674b7d8.02a168",
        "z": "68dfd515.661f7c",
        "name": "",
        "env": [],
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "b01f4077.79689",
        "type": "inject",
        "z": "68dfd515.661f7c",
        "name": "Manuelly define additional datapoints",
        "props": [
            {
                "p": "payload",
                "v": "{\"sensor\":{},\"actuator\":{}}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensor\":{},\"actuator\":{}}",
        "payloadType": "json",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "5e4aacbf.6c95d4"
            ]
        ],
        "info": "This node allows you to manually define which datapoints are available (additonally to the automatically found sensor datapoints).\n# Should return\n... a message formated to match the expected input of Update available_datapoints. E.g.\n```\nmsg = {\n    \"payload\": {\n    \t\"sensor\": {\n    \t\t\"Channel__P__value__0\": 0.122,\n            \"Channel__P__unit__0\": \"kW\",\n    \t},\n    \t\"actuator\": {\n    \t\t\"Channel__P__setpoint__0\": 0.4,\n    \t}\n    }\n}\n```"
    },
    {
        "id": "3ed4277f.ed75d8",
        "type": "link out",
        "z": "927c9b3e.6d8038",
        "name": "flow \"Main\" out (before \"Send command\")",
        "links": [
            "3b3d9738.5b6e88"
        ],
        "x": 1135,
        "y": 580,
        "wires": []
    },
    {
        "id": "5f0c81ba.d6873",
        "type": "comment",
        "z": "927c9b3e.6d8038",
        "name": "Flow: Send command",
        "info": "Send a value to the corresponding actuator. \n\n# Receives\n... a message structured like this:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\",\n        \"timestamp\": 1573680749000\n    }\n}\n```\n\n# Should return\n.. generally nothing. If you want to return status messages about the last/or accepted value of the actuator you might want to inject a respecitve message directly after the \"Parse raw_message\" flow. Consider the expected message format.",
        "x": 1240,
        "y": 580,
        "wires": []
    },
    {
        "id": "3b3d9738.5b6e88",
        "type": "link in",
        "z": "9f1169a9.8e23c8",
        "name": "flow \"Send command\" in",
        "links": [
            "3ed4277f.ed75d8"
        ],
        "x": 155,
        "y": 40,
        "wires": [
            [
                "1c26ecc6.986e53"
            ]
        ]
    },
    {
        "id": "1c26ecc6.986e53",
        "type": "function",
        "z": "9f1169a9.8e23c8",
        "name": "Throw not implemented error",
        "func": "node.error(\"Logic in flow \\\"Send command\\\" not implemented\")",
        "outputs": 0,
        "noerr": 0,
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "43d13ddb.00ffd4",
        "type": "subflow:2f246a38.edf956",
        "z": "927c9b3e.6d8038",
        "name": "",
        "env": [],
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "c9b44c2d.83d04",
        "type": "mqtt in",
        "z": "a96a98ee.ee4868",
        "name": "",
        "topic": "$(MQTT_TOPIC_DATAPOINT_MAP)",
        "qos": "1",
        "datatype": "json",
        "broker": "f0d21eb0.93967",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b27dc53d.e7c4e8"
            ]
        ]
    },
    {
        "id": "db7c7072.957c4",
        "type": "change",
        "z": "a96a98ee.ee4868",
        "name": "Store to global.datapoint_map",
        "rules": [
            {
                "t": "set",
                "p": "datapoint_map",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2612c66a.8fd3fa",
        "type": "status",
        "z": "a96a98ee.ee4868",
        "name": "",
        "scope": [
            "c9b44c2d.83d04"
        ],
        "x": 100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f02e361a.91cf38",
        "type": "comment",
        "z": "a96a98ee.ee4868",
        "name": "Display the status MQTT connection as subflow status.",
        "info": "",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "dc9ec415.681fb8",
        "type": "comment",
        "z": "a96a98ee.ee4868",
        "name": "Receive and store the datapoint mapping",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "b27dc53d.e7c4e8",
        "type": "function",
        "z": "a96a98ee.ee4868",
        "name": "Validate received datapoint_map",
        "func": "/*\nCheck that the datapoint map is structured as follows:\n{\"sensor\": {}, \"actuator\": {}}\nThe empty objects above may contain the actuall mappings or not in reality, but\nmust exist. Else the filter nodes in the Main flow will fail and throw erros.\n*/\n\n// Based on an anwser here: \n// https://stackoverflow.com/questions/8511281/check-if-a-value-is-an-object-in-javascript\nisObject = function(a) {\n    return Object.prototype.toString.call(a) === \"[object Object]\"\n}\n\nlet reject_datapoint_map_reason = \"\"\n\nlet datapoint_map = msg.payload\n\nif ( ! isObject(datapoint_map) ) {\n    reject_datapoint_map_reason = \"Datapoint_map is no object.\"\n} else if ( ! (\"sensor\" in datapoint_map) ) {\n    reject_datapoint_map_reason = \"No sensor key in datapoint_map.\"\n} else if ( ! (\"actuator\" in datapoint_map) ) {\n    reject_datapoint_map_reason = \"No actuator key in datapoint_map.\"\n} else if ( ! isObject(datapoint_map[\"sensor\"]) ) {\n    reject_datapoint_map_reason = \"Sensor key in datapoint_map contains no object.\"\n} else if ( ! isObject(datapoint_map[\"actuator\"]) ) {\n    reject_datapoint_map_reason = \"Actuator key in datapoint_map contains no object.\"\n}\n\nif ( reject_datapoint_map_reason !== \"\" ){\n    node.error(\"Rejecting datapoint_map with reason: \" + reject_datapoint_map_reason)\n} else {\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "db7c7072.957c4"
            ]
        ]
    },
    {
        "id": "6117cea4.1e57d",
        "type": "comment",
        "z": "3674b7d8.02a168",
        "name": "Update the available_datapoints object and publish if new datapoints have been found.",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "eff00765.5db5e8",
        "type": "switch",
        "z": "3674b7d8.02a168",
        "name": "If new datapoints have been found",
        "property": "new_datapoints",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "10c0462f.23d45a"
            ]
        ]
    },
    {
        "id": "e82a08cd.b2e278",
        "type": "function",
        "z": "3674b7d8.02a168",
        "name": "Check if new datapoints have been found and update global.available_datapoints if so.",
        "func": "/*\nThe structure of the incomming msg and the available datapoints object \nshould be generally like:\n\"payload\": {\n\t\"sensor\": {\n\t\t\"Channel__P__value__0\": 0.122,\n        \"Channel__P__unit__0\": \"kW\",\n\t},\n\t\"actuator\": {\n\t\t\"Channel__P__setpoint__0\": 0.4,\n\t}\n}\n*/\n\n// Check for each sensor/actuator datapoint if it is already known to \n// available_datapoints. Trigger sending an update if not so. Update the values \n// of the datapoints every time so next time we send available_datapoints it will\n// carry examples of the most recent values.\nlet new_datapoints = false\nlet available_datapoints = global.get(\"available_datapoints\") || {}\nlet available_datapoints_update = msg.payload\n\nfor (let datapoint_type of [\"sensor\", \"actuator\"]) {\n\n    // Default to empty dict in case no datapoints of this type are known yet.\n    let ad_per_type = available_datapoints[datapoint_type] || {}\n    let ad_update_per_type = available_datapoints_update[datapoint_type] || {}\n\n    for (let datapoint_id_update in ad_update_per_type) {\n        \n        if ( ! (datapoint_id_update in ad_per_type) ) {\n            new_datapoints = true\n        }\n        \n        // Store the latest datapoint value.\n        ad_per_type[datapoint_id_update] = ad_update_per_type[datapoint_id_update]\n        \n    }\n    \n    // Store the type related sub_object back to the main object.\n    available_datapoints[datapoint_type] = ad_per_type\n}\n\n// Store and return the updated available_datapoints.\nglobal.set(\"available_datapoints\", available_datapoints)\n\nmsg = {\n    \"payload\": available_datapoints, \n    \"new_datapoints\": new_datapoints\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "eff00765.5db5e8"
            ]
        ]
    },
    {
        "id": "10c0462f.23d45a",
        "type": "mqtt out",
        "z": "3674b7d8.02a168",
        "name": "",
        "topic": "$(MQTT_TOPIC_AVAILABLE_DATAPOINTS)",
        "qos": "2",
        "retain": "true",
        "broker": "f0d21eb0.93967",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "a133ab62.e45ec8",
        "type": "function",
        "z": "927c9b3e.6d8038",
        "name": "Convert to internal keys",
        "func": "let datapoint_map = global.get(\"datapoint_map\")\nlet actuator_map = datapoint_map[\"actuator\"]\nlet internal_key = actuator_map[msg.topic]\nreturn {\n    \"payload\": {\n        [internal_key]: msg.payload.value,\n        \n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 580,
        "wires": [
            [
                "3ed4277f.ed75d8"
            ]
        ],
        "info": "Maps the topics of the incoming actuator messages on internal keys, i.e. the \nkeys that can be interpreted by the gateway or device.\n\nWe thereby ignore the timestamp, all actuator messages will be sent ASAP, \ndelaying messages and scheduling should be done externaly, not in connecetors \nto keep them lean and focused.\n\n# Given \n... that a datapoint_map is stored in global context with content:\n```\n{\n    \"sensor\": {\n        \"device_1__sensor_1\": \"example-connector/msgs/0001\",\n        \"device_1__sensor_2\": \"example-connector/msgs/0002\"\n    },\n    \"actuator\": {\n        \"example-connector/msgs/0003\": \"device_1__actuator_1\"\n    }\n}\n```\n\n# Receives\nAnd this block would receive the following input: \n```\nmsg = {\n    \"payload\": {\n        \"value\": \"2.12\",\n        \"timestamp\": 1573680749000,\n    }\n    \"topic\": \"example-connector/msgs/0003\"\n}\n```\n\n# Returns\nThe node would return the following two message:\n```\nmsg = {\n    \"payload\": {\n        \"device_1__actuator_1\": \"2.12\",\n    }\n}\n```\n"
    },
    {
        "id": "eac24036.cb1d4",
        "type": "link in",
        "z": "2efd25f0.1862ca",
        "name": "",
        "links": [
            "6aae28b2.fb2688"
        ],
        "x": 235,
        "y": 300,
        "wires": [
            [
                "67bfc500.ac37dc"
            ]
        ]
    },
    {
        "id": "67bfc500.ac37dc",
        "type": "change",
        "z": "2efd25f0.1862ca",
        "name": "Store last raw_message",
        "rules": [
            {
                "t": "set",
                "p": "raw_message_payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2b174b4d.a9fa64",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "4790cc64.e97654",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show last raw_message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "raw_message_payload",
        "payloadType": "flow",
        "topic": "",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "be778509.5b6a68"
            ]
        ]
    },
    {
        "id": "3c6d76e2.4f506a",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "4790cc64.e97654",
        "name": "Display formated json",
        "order": 2,
        "width": "12",
        "height": "10",
        "format": "<div style=\"white-space: pre-wrap;\">\n{{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1140,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8a42c93a.e7bb78",
        "type": "link in",
        "z": "2efd25f0.1862ca",
        "name": "",
        "links": [
            "376a4260.2d545e"
        ],
        "x": 235,
        "y": 340,
        "wires": [
            [
                "6aada7b9.99d8f8"
            ]
        ]
    },
    {
        "id": "6aada7b9.99d8f8",
        "type": "change",
        "z": "2efd25f0.1862ca",
        "name": "Store last paresed_message",
        "rules": [
            {
                "t": "set",
                "p": "parsed_message",
                "pt": "flow",
                "to": "payload.parsed_message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1f22ae00.7c4372",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "8056e3d2.f6271",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show last parsed_message",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "parsed_message",
        "payloadType": "flow",
        "topic": "",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "13db34cd.942d5b"
            ]
        ]
    },
    {
        "id": "13db34cd.942d5b",
        "type": "json",
        "z": "2efd25f0.1862ca",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "29205c4c.8a65a4"
            ]
        ]
    },
    {
        "id": "29205c4c.8a65a4",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "8056e3d2.f6271",
        "name": "Display formated json",
        "order": 2,
        "width": "12",
        "height": "10",
        "format": "<div style=\"white-space: pre-wrap;\">\n{{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1140,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "be778509.5b6a68",
        "type": "json",
        "z": "2efd25f0.1862ca",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "3c6d76e2.4f506a"
            ]
        ]
    },
    {
        "id": "87c16021.a6246",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Shows the raw and incomming messages of the sensors",
        "info": "",
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "8aff2367.08b64",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Shows a table of parsed_message flattened topics and values ",
        "info": "",
        "x": 260,
        "y": 640,
        "wires": []
    },
    {
        "id": "abd6774e.248ee8",
        "type": "link in",
        "z": "2efd25f0.1862ca",
        "name": "",
        "links": [
            "376a4260.2d545e"
        ],
        "x": 235,
        "y": 680,
        "wires": [
            [
                "6e9774f3.38871c"
            ]
        ]
    },
    {
        "id": "bc12873a.bb74c8",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Store last value for all parsed messages as array",
        "func": "// Store the last value for each message key\nlet flattened_messages = flow.get(\"flattened_messages\") || {}\nfor ( let key in msg.payload.flattened_message ){\n    flattened_messages[key] =  msg.payload.flattened_message[key]\n}\nflow.set(\"flattened_messages\", flattened_messages)\n\n// Convert into required format for table node.\nlet payload = []\nfor ( let key in flattened_messages ){\n    payload.push({\n        \"key\": key ,\n        \"value\": flattened_messages[key],\n    })\n}\nreturn {\"payload\": payload}",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9774f3.38871c",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Flatten object",
        "func": "// from https://stackoverflow.com/questions/44134212/best-way-to-flatten-js-object-keys-and-values-to-a-single-depth-array\nfunction flattenObject(ob) {\n    var toReturn = {};\n\n    for (var i in ob) {\n        if (!ob.hasOwnProperty(i)) continue;\n\n        if ((typeof ob[i]) == 'object' && ob[i] !== null) {\n            var flatObject = flattenObject(ob[i]);\n            for (var x in flatObject) {\n                if (!flatObject.hasOwnProperty(x)) continue;\n\n                toReturn[i + '__' + x] = flatObject[x];\n            }\n        } else {\n            toReturn[i] = ob[i];\n        }\n    }\n    return toReturn;\n}\n\nlet parsed_message = msg.payload.parsed_message\nlet flattened_message = flattenObject(parsed_message)\ndelete msg.payload.parsed_message\nmsg.payload[\"flattened_message\"] = flattened_message\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "bc12873a.bb74c8"
            ]
        ],
        "info": "Flattens the incomming object to depth 1, i.e that every leaf of the incomming object can be accessed with a unique key directly from flat_message object.\n# Returns\nShould return the a message with the flattend data like:\n```\nmsg = {\n    \"payload\": {\n        \"flattened_message\": <the parsed data as flattend object>,\n        \"timestamp\": <milliseconds since epoch>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"flattened_message\": {\n            \"device_1__sensor_1\": \"2.12\"\n            \"device_1__sensor_2\": \"3.12\"\n        },\n        \"timestamp\": 1573680749000\n    }\n}\n```"
    },
    {
        "id": "91ff5c87.638cc",
        "type": "ui_table",
        "z": "2efd25f0.1862ca",
        "group": "daf5703a.8b832",
        "name": "",
        "order": 4,
        "width": "24",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "ea488c2a.576f",
        "type": "ui_text_input",
        "z": "2efd25f0.1862ca",
        "name": "",
        "label": "Filter keys",
        "tooltip": "",
        "group": "daf5703a.8b832",
        "order": 1,
        "width": "20",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "key_filter",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "baf3be33.e9b03"
            ]
        ]
    },
    {
        "id": "49693266.74551c",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "daf5703a.8b832",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flattened_messages",
        "payloadType": "flow",
        "topic": "refresh",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "baf3be33.e9b03"
            ]
        ]
    },
    {
        "id": "baf3be33.e9b03",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Filter flattened messages",
        "func": "// Cache the inputs received from other nodes.\nif (msg.topic === 'key_filter') {\n    context.set('key_filter', msg.payload)\n} else {\n    context.set('current_flattened_messages', msg.payload)\n}\n\n// Apply the filter and convert to format expected by table node\nlet payload = []\nlet current_flattened_messages = context.get('current_flattened_messages') || {}\nlet key_filter = context.get('key_filter') || ''\n\nfor (let key in current_flattened_messages) {\n    if (key.includes(key_filter)) {\n        payload.push({\n            \"key\": key ,\n            \"value\": current_flattened_messages[key],\n        })\n    }\n}\n\nreturn {\"payload\": payload, \"count\": payload.length}",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "91ff5c87.638cc",
                "1ae621d3.dec29e"
            ]
        ]
    },
    {
        "id": "1ae621d3.dec29e",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "daf5703a.8b832",
        "name": "Show item count",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p>Count: {{msg.count}}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 810,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "273cb50f.2bb90a",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Displays the available_datapoints and datapoint_map objects as sent/received.",
        "info": "",
        "x": 310,
        "y": 840,
        "wires": []
    },
    {
        "id": "37393c16.903314",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "a87331e5.f8aba",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show last version of available_datapoints",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "available_datapoints",
        "payloadType": "global",
        "topic": "",
        "x": 200,
        "y": 880,
        "wires": [
            [
                "36a42d88.7bc302"
            ]
        ]
    },
    {
        "id": "af242f7e.9438a",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "a87331e5.f8aba",
        "name": "Display formated json",
        "order": 2,
        "width": "12",
        "height": "10",
        "format": "<div style=\"white-space: pre-wrap;\">\n{{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 640,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "3744915f.7c578e",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "79b14016.f4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Show last version of datapoint_map",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "datapoint_map",
        "payloadType": "global",
        "topic": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "157e471b.27ebb9"
            ]
        ]
    },
    {
        "id": "157e471b.27ebb9",
        "type": "json",
        "z": "2efd25f0.1862ca",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 450,
        "y": 920,
        "wires": [
            [
                "e0032384.93c69"
            ]
        ]
    },
    {
        "id": "e0032384.93c69",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "79b14016.f4c",
        "name": "Display formated json",
        "order": 2,
        "width": "12",
        "height": "10",
        "format": "<div style=\"white-space: pre-wrap;\">\n{{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 640,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "36a42d88.7bc302",
        "type": "json",
        "z": "2efd25f0.1862ca",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 450,
        "y": 880,
        "wires": [
            [
                "af242f7e.9438a"
            ]
        ]
    },
    {
        "id": "b8a920dc.63e1e",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Display last heartbeat and log messages ",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "d13504be.9f6888",
        "type": "mqtt in",
        "z": "2efd25f0.1862ca",
        "name": "",
        "topic": "$(MQTT_TOPIC_LOGS)",
        "qos": "2",
        "datatype": "json",
        "broker": "f0d21eb0.93967",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "cd071d49.69148"
            ]
        ]
    },
    {
        "id": "cd071d49.69148",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Store logs in array",
        "func": "let stored_logs = flow.get(\"stored_logs\") || []\nif (msg.topic === 'reset_logs') {\n    stored_logs = []\n}else{\n\n    let log_entry = msg.payload\n    //Convert timestamp to human readable time\n    log_entry.timestamp = new Date(log_entry.timestamp).toISOString()\n    stored_logs.push(msg.payload)\n}\nflow.set(\"stored_logs\", stored_logs)\n\nreturn {\"payload\": stored_logs}",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "995c02c.461a2"
            ]
        ]
    },
    {
        "id": "995c02c.461a2",
        "type": "ui_table",
        "z": "2efd25f0.1862ca",
        "group": "262945f0.b0907a",
        "name": "",
        "order": 3,
        "width": "24",
        "height": "10",
        "columns": [
            {
                "field": "timestamp",
                "title": "Time",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "emitter",
                "title": "Emitter",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "level",
                "title": "Level",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "msg",
                "title": "Message",
                "width": "64%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "6943d75c.398d08",
        "type": "mqtt in",
        "z": "2efd25f0.1862ca",
        "name": "",
        "topic": "$(MQTT_TOPIC_HEARTBEAT)",
        "qos": "0",
        "datatype": "json",
        "broker": "f0d21eb0.93967",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "622b2206.97dedc"
            ]
        ]
    },
    {
        "id": "622b2206.97dedc",
        "type": "ui_text",
        "z": "2efd25f0.1862ca",
        "group": "262945f0.b0907a",
        "order": 1,
        "width": "20",
        "height": "1",
        "name": "",
        "label": "Last heartbeat:",
        "format": "{{msg.payload.this_heartbeats_timestamp | date: 'yyyy-MM-ddTHH:mm:ss'}}",
        "layout": "row-left",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "bc75c56e.7df568",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "262945f0.b0907a",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Reset Logs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "reset_logs",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "cd071d49.69148"
            ]
        ]
    },
    {
        "id": "82371ab9.50ee88",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Display detail tables for available_datapoints and datapoint_map",
        "info": "",
        "x": 270,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b93cf10f.4326c",
        "type": "ui_table",
        "z": "2efd25f0.1862ca",
        "group": "ba7e29cc.1189b8",
        "name": "",
        "order": 4,
        "width": "24",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 1040,
        "wires": []
    },
    {
        "id": "131e4c51.185644",
        "type": "ui_text_input",
        "z": "2efd25f0.1862ca",
        "name": "",
        "label": "Filter keys",
        "tooltip": "",
        "group": "ba7e29cc.1189b8",
        "order": 1,
        "width": "20",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "key_filter",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "aefbf0a3.e07bc"
            ]
        ]
    },
    {
        "id": "ec22788c.14ff08",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "ba7e29cc.1189b8",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "available_datapoints",
        "payloadType": "global",
        "topic": "refresh",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "aefbf0a3.e07bc"
            ]
        ]
    },
    {
        "id": "aefbf0a3.e07bc",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Filter available datapoints",
        "func": "// Cache the inputs received from other nodes.\nif (msg.topic === 'key_filter') {\n    context.set('key_filter', msg.payload)\n} else {\n    context.set('current_available_datapoints', msg.payload)\n}\n\n// Apply the filter and convert to format expected by table node\nlet payload = []\nlet current_available_datapoints = context.get('current_available_datapoints') || {}\nlet key_filter = context.get('key_filter') || ''\n\nfor (let type in current_available_datapoints) {\n    for (let key in current_available_datapoints[type]) {\n        if (key.includes(key_filter)) {\n            payload.push({\n                \"key\": key,\n                \"type\": type,\n                \"value\": current_available_datapoints[type][key],\n            })\n        }\n    }\n}\n\nreturn {\"payload\": payload, \"count\": payload.length}",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "b93cf10f.4326c",
                "6ee66659.10b7f8"
            ]
        ]
    },
    {
        "id": "6ee66659.10b7f8",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "ba7e29cc.1189b8",
        "name": "Show item count",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p>Count: {{msg.count}}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 590,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "718a3563.bdfcdc",
        "type": "ui_table",
        "z": "2efd25f0.1862ca",
        "group": "b8ac304a.3d78a",
        "name": "",
        "order": 4,
        "width": "24",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9fd2fa90.de70e8",
        "type": "ui_text_input",
        "z": "2efd25f0.1862ca",
        "name": "",
        "label": "Filter keys",
        "tooltip": "",
        "group": "b8ac304a.3d78a",
        "order": 1,
        "width": "20",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "key_filter",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "6badb78c.8a9f68"
            ]
        ]
    },
    {
        "id": "31843cb0.618944",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "b8ac304a.3d78a",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "datapoint_map",
        "payloadType": "global",
        "topic": "refresh",
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "6badb78c.8a9f68"
            ]
        ]
    },
    {
        "id": "6badb78c.8a9f68",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Filter datapoint map",
        "func": "// Cache the inputs received from other nodes.\nif (msg.topic === 'key_filter') {\n    context.set('key_filter', msg.payload)\n} else {\n    context.set('current_datapoint_map', msg.payload)\n}\n\n// Apply the filter and convert to format expected by table node\nlet payload = []\nlet current_datapoint_map = context.get('current_datapoint_map') || {}\nlet key_filter = context.get('key_filter') || ''\n\nfor (let type in current_datapoint_map) {\n    for (let key in current_datapoint_map[type]) {\n        if (key.includes(key_filter)) {\n            payload.push({\n                \"key\": key,\n                \"type\": type,\n                \"topic\": current_datapoint_map[type][key],\n            })\n        }\n    }\n}\n\nreturn {\"payload\": payload, \"count\": payload.length}",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "718a3563.bdfcdc",
                "550afa1e.f1ad64"
            ]
        ]
    },
    {
        "id": "550afa1e.f1ad64",
        "type": "ui_template",
        "z": "2efd25f0.1862ca",
        "group": "b8ac304a.3d78a",
        "name": "Show item count",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p>Count: {{msg.count}}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 590,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "ce1e43e1.a4042",
        "type": "comment",
        "z": "2efd25f0.1862ca",
        "name": "Can be used to inject a message to actuator (without MQTT)",
        "info": "",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "dc5b208e.c34e7",
        "type": "ui_dropdown",
        "z": "2efd25f0.1862ca",
        "name": "Select actuator key",
        "label": "",
        "tooltip": "",
        "place": "Select Actuator Key",
        "group": "8eebe15.705ee2",
        "order": 2,
        "width": "15",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 890,
        "y": 480,
        "wires": [
            [
                "cdae5b17.10a288"
            ]
        ]
    },
    {
        "id": "937b9502.ea8358",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "8eebe15.705ee2",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Refresh Actuator Keys",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "available_datapoints.actuator",
        "payloadType": "flow",
        "topic": "refresh",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "d5bac535.5ef348"
            ]
        ]
    },
    {
        "id": "d5bac535.5ef348",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Build dropdown choices",
        "func": "\nlet available_datapoints = global.get(\"available_datapoints\") || {\"actuator\": {}}\nlet actuator_keys = []\nfor ( let key in available_datapoints.actuator ){\n    actuator_keys.push(key)\n}\nreturn {\"options\": actuator_keys}",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "dc5b208e.c34e7"
            ]
        ]
    },
    {
        "id": "cdae5b17.10a288",
        "type": "change",
        "z": "2efd25f0.1862ca",
        "name": "Store selected actuator",
        "rules": [
            {
                "t": "set",
                "p": "selected_actuator",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "419160b3.ca53f",
        "type": "ui_text",
        "z": "2efd25f0.1862ca",
        "group": "8eebe15.705ee2",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "Actuator Key:",
        "label": "",
        "format": "Actuator Key:",
        "layout": "row-left",
        "x": 120,
        "y": 480,
        "wires": []
    },
    {
        "id": "7d2ea1e2.a689f",
        "type": "ui_text",
        "z": "2efd25f0.1862ca",
        "group": "8eebe15.705ee2",
        "order": 4,
        "width": "3",
        "height": "1",
        "name": "Value:",
        "label": "",
        "format": "Value:",
        "layout": "row-left",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "eb23e1af.4d599",
        "type": "ui_text_input",
        "z": "2efd25f0.1862ca",
        "name": "",
        "label": "Type in Value here",
        "tooltip": "",
        "group": "8eebe15.705ee2",
        "order": 5,
        "width": "19",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "65c909e8.223c18"
            ]
        ]
    },
    {
        "id": "65c909e8.223c18",
        "type": "change",
        "z": "2efd25f0.1862ca",
        "name": "Store actuator value",
        "rules": [
            {
                "t": "set",
                "p": "actuator_value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "458bb16.5fcfa5",
        "type": "ui_button",
        "z": "2efd25f0.1862ca",
        "name": "",
        "group": "8eebe15.705ee2",
        "order": 7,
        "width": "10",
        "height": "1",
        "passthru": false,
        "label": "Send to actuator",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "c1392a79.de8c08"
            ]
        ]
    },
    {
        "id": "f9ae0d30.857",
        "type": "ui_text",
        "z": "2efd25f0.1862ca",
        "group": "8eebe15.705ee2",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Spacer",
        "label": "",
        "format": "",
        "layout": "row-left",
        "x": 100,
        "y": 560,
        "wires": []
    },
    {
        "id": "c1392a79.de8c08",
        "type": "function",
        "z": "2efd25f0.1862ca",
        "name": "Create acuator message",
        "func": "let selected_actuator = flow.get(\"selected_actuator\")\nlet actuator_value = flow.get(\"actuator_value\")\nreturn {\n    \"payload\": {\n        [selected_actuator]: actuator_value\n        \n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "8911ff63.8476a"
            ]
        ]
    },
    {
        "id": "8911ff63.8476a",
        "type": "link out",
        "z": "2efd25f0.1862ca",
        "name": "",
        "links": [
            "3b3d9738.5b6e88"
        ],
        "x": 1075,
        "y": 560,
        "wires": []
    }
]