services/monitors/mqtt-message-monitor/source/Node-RED_data/flows.json
[{"id":"92456f2a.0c62f","type":"tab","label":"message broker monitor","disabled":false,"info":""},{"id":"474ff1a1.e0338","type":"mqtt-broker","z":"","name":"environment variable broker","broker":"$(MQTT_BROKER_HOST)","port":"$(MQTT_BROKER_PORT)","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4164869f.ada738","type":"ui_group","z":"","name":"Monitor table","tab":"f44b627d.6180f","disp":false,"width":"24","collapse":false},{"id":"f44b627d.6180f","type":"ui_tab","z":"","name":"Message Broker Monitor","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"38dbf1b2.d4183e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1921e688.1d7c59","type":"mqtt in","z":"92456f2a.0c62f","name":"Environment Variable Broker: #","topic":"#","qos":"0","datatype":"json","broker":"474ff1a1.e0338","x":190,"y":80,"wires":[["595a6116.8a937"]]},{"id":"595a6116.8a937","type":"function","z":"92456f2a.0c62f","name":"Store last msg per topic","func":"let stored_messages = flow.get('stored_messages') || {}\nlet topic = msg.topic\nlet payload_one_line = JSON.stringify(msg.payload)\nlet payload_formated = JSON.stringify(msg.payload, null, 4)\nlet payload_html = (\n`<div style=\"white-space: pre-wrap; max-height: 12em;\">${payload_formated}</div>\n`)\n\nstored_messages[msg.topic] = {\n    \"payload_one_line\": payload_one_line,\n    \"payload_formated\": payload_formated,\n    \"arrival_time\": new Date().toISOString(),\n    \"topic\": msg.topic,\n    \"payload_html\": payload_html,\n}\n\nflow.set('stored_messages', stored_messages)","outputs":0,"noerr":0,"x":530,"y":80,"wires":[]},{"id":"7dbd2391.a77e8c","type":"ui_table","z":"92456f2a.0c62f","group":"4164869f.ada738","name":"","order":4,"width":"24","height":"12","columns":[{"field":"topic","title":"Topic","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"arrival_time","title":"Arrival Time","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"payload_one_line","title":"Payload","width":"54%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":850,"y":140,"wires":[]},{"id":"cf14d88d.f6a628","type":"ui_text_input","z":"92456f2a.0c62f","name":"","label":"Filter topics","tooltip":"","group":"4164869f.ada738","order":1,"width":"20","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic_filter","x":130,"y":140,"wires":[["cd7a52ab.9d48e"]]},{"id":"57dba7cb.8c2fb8","type":"ui_button","z":"92456f2a.0c62f","name":"","group":"4164869f.ada738","order":2,"width":"4","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stored_messages","payloadType":"flow","topic":"refresh","x":120,"y":180,"wires":[["cd7a52ab.9d48e"]]},{"id":"cd7a52ab.9d48e","type":"function","z":"92456f2a.0c62f","name":"Filter flattened messages","func":"// Cache the inputs received from other nodes.\nif (msg.topic === 'topic_filter') {\n    context.set('topic_filter', msg.payload)\n} else {\n    context.set('current_stored_messages', msg.payload)\n}\n\n// Apply the filter and convert to format expected by table node\nlet payload = []\nlet current_stored_messages = context.get('current_stored_messages') || {}\nlet topic_filter = context.get('topic_filter') || ''\n\nfor (let topic in current_stored_messages) {\n    if (topic.includes(topic_filter)) {\n        payload.push(current_stored_messages[topic])\n    }\n}\n\nreturn {\n    \"payload\": payload,\n    \"count\": payload.length,\n    \"ui_control\": {\"customHeight\": 10},\n}","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["7dbd2391.a77e8c","e700d6fb.5bdd18"]]},{"id":"e700d6fb.5bdd18","type":"ui_template","z":"92456f2a.0c62f","group":"4164869f.ada738","name":"Show item count","order":3,"width":0,"height":0,"format":"<p>Count: {{msg.count}}</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":180,"wires":[[]]}]