service_templates/connectors/Node-RED/starter-kit/source/flows/219558b7.844058
{
    "id": "219558b7.844058",
    "info": "All logic necessary to receive data (sensor datapoints) from the device, gateway or data source.\n\n# Should return\n... the received message as raw message in the format:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\"\n    }\n}\n```",
    "label": "Receive raw_message",
    "nodes": [
        {
            "id": "6aae28b2.fb2688",
            "links": [
                "b6c60262.69fb9",
                "1de13059.b5bb"
            ],
            "name": "flow \"Receive raw_message\" out",
            "type": "link out",
            "x": 535,
            "y": 40,
            "z": "219558b7.844058"
        },
        {
            "cache": false,
            "ccuConfig": "6db20085.21293",
            "change": false,
            "channel": "",
            "channelIndex": "",
            "channelIndexRx": "str",
            "channelName": "",
            "channelNameRx": "str",
            "channelRx": "str",
            "channelType": "",
            "channelTypeRx": "str",
            "datapoint": "",
            "datapointRx": "str",
            "device": "",
            "deviceName": "",
            "deviceNameRx": "str",
            "deviceRx": "str",
            "deviceType": "",
            "deviceTypeRx": "str",
            "functions": "",
            "functionsRx": "str",
            "id": "44d4ff67.bf017",
            "iface": "",
            "name": "",
            "rooms": "",
            "roomsRx": "str",
            "topic": "${channel}/${datapoint}",
            "type": "ccu-rpc-event",
            "wires": [
                [
                    "aaf83fa6.5648f"
                ]
            ],
            "working": false,
            "x": 80,
            "y": 40,
            "z": "219558b7.844058"
        },
        {
            "cache": true,
            "ccuConfig": "6db20085.21293",
            "change": false,
            "channel": "OEQ1573206:2",
            "channelIndex": "",
            "channelIndexRx": "str",
            "channelName": "",
            "channelNameRx": "str",
            "channelRx": "str",
            "channelType": "",
            "channelTypeRx": "str",
            "datapoint": "SET_TEMPERATURE",
            "datapointRx": "str",
            "device": "",
            "deviceName": "",
            "deviceNameRx": "str",
            "deviceRx": "str",
            "deviceType": "",
            "deviceTypeRx": "str",
            "functions": "",
            "functionsRx": "str",
            "id": "4b49b3ec.4b456c",
            "iface": "",
            "name": "",
            "rooms": "",
            "roomsRx": "str",
            "topic": "${channel}/${datapoint}",
            "type": "ccu-rpc-event",
            "wires": [
                [
                    "86e43adf.486dc8"
                ]
            ],
            "working": false,
            "x": 420,
            "y": 740,
            "z": "219558b7.844058"
        },
        {
            "active": false,
            "complete": "true",
            "console": false,
            "id": "86e43adf.486dc8",
            "name": "",
            "targetType": "full",
            "tosidebar": true,
            "tostatus": false,
            "type": "debug",
            "wires": [],
            "x": 630,
            "y": 700,
            "z": "219558b7.844058"
        },
        {
            "cache": true,
            "ccuConfig": "6db20085.21293",
            "change": false,
            "channel": "",
            "channelIndex": "",
            "channelIndexRx": "str",
            "channelName": "",
            "channelNameRx": "str",
            "channelRx": "str",
            "channelType": "",
            "channelTypeRx": "str",
            "datapoint": "SET_TEMPERATURE",
            "datapointRx": "str",
            "device": "",
            "deviceName": "wall_thermostat 3.1.12",
            "deviceNameRx": "str",
            "deviceRx": "str",
            "deviceType": "",
            "deviceTypeRx": "str",
            "functions": "",
            "functionsRx": "str",
            "id": "88532cf2.20b2",
            "iface": "",
            "name": "",
            "rooms": "",
            "roomsRx": "str",
            "topic": "${channel}/${datapoint}",
            "type": "ccu-rpc-event",
            "wires": [
                [
                    "c351d269.3da9b"
                ]
            ],
            "working": false,
            "x": 420,
            "y": 660,
            "z": "219558b7.844058"
        },
        {
            "active": false,
            "complete": "true",
            "console": false,
            "id": "c351d269.3da9b",
            "name": "",
            "targetType": "full",
            "tosidebar": true,
            "tostatus": false,
            "type": "debug",
            "wires": [],
            "x": 613.0142211914062,
            "y": 653.0056762695312,
            "z": "219558b7.844058"
        },
        {
            "func": "\nmsg = {\n    \"payload\": {\n        \"raw_message\": msg\n    }\n}\nreturn msg",
            "id": "aaf83fa6.5648f",
            "name": "To raw_message format",
            "noerr": 0,
            "outputs": 1,
            "type": "function",
            "wires": [
                [
                    "6aae28b2.fb2688"
                ]
            ],
            "x": 310,
            "y": 40,
            "z": "219558b7.844058"
        }
    ]
}
