connector_templates/Node-RED/Node-RED_data/lib/flows/new-folder/test.json
[{"id":"6773453a.46e19c","type":"subflow","name":"Subflow 2","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"37cf9f77.ab802"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"27aabe87.f00592","port":0}]},{"x":580,"y":140,"wires":[{"id":"29e1edd1.fd3922","port":0}]}],"env":[{"name":"REQUEST_URL","type":"str","value":"https://example.com"}],"color":"#DDAA99"},{"id":"27aabe87.f00592","type":"http request","z":"6773453a.46e19c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"bc89d4f9.14c848","persist":false,"proxy":"","authType":"","x":430,"y":80,"wires":[[]]},{"id":"37cf9f77.ab802","type":"change","z":"6773453a.46e19c","name":"","rules":[{"t":"set","p":"url2","pt":"msg","to":"REQUEST_URL","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["27aabe87.f00592"]]},{"id":"29e1edd1.fd3922","type":"catch","z":"6773453a.46e19c","name":"","scope":null,"uncaught":false,"x":440,"y":140,"wires":[[]]},{"id":"bc89d4f9.14c848","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"7e928cdb.36c834","type":"subflow:6773453a.46e19c","z":"38cfd325.8af8ac","name":"","env":[],"x":520,"y":280,"wires":[["8c155479.5ecdc8"],["d8e0ff74.c8089"]]}]