services/connectors/keba-p30-connector/source/flows/219558b7.844058
[
    {
        "id": "219558b7.844058",
        "type": "tab",
        "label": "Receive raw_message",
        "disabled": false,
        "info": "All logic necessary to receive data (sensor datapoints) from the device, gateway or data source.\n\n# Should return\n... the received message as raw message in the format:\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": <the raw data>\n    }\n}\n```\nE.g.\n```\nmsg = {\n    \"payload\": {\n        \"raw_message\": \"device_1:{sensor_1:2.12,sensor_2:3.12}\"\n    }\n}\n```"
    },
    {
        "id": "6aae28b2.fb2688",
        "type": "link out",
        "z": "219558b7.844058",
        "name": "flow \"Receive raw_message\" out",
        "links": [
            "b6c60262.69fb9"
        ],
        "x": 735,
        "y": 100,
        "wires": []
    },
    {
        "id": "db420078.032e9",
        "type": "inject",
        "z": "219558b7.844058",
        "name": "Request reports 1-3 every 10s",
        "topic": "",
        "payload": "[\"report 1\",\"report 2\",\"report 3\"]",
        "payloadType": "json",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "5c75452.c16aebc"
            ]
        ]
    },
    {
        "id": "5c75452.c16aebc",
        "type": "split",
        "z": "219558b7.844058",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "c90d173a.685c38"
            ]
        ]
    },
    {
        "id": "c90d173a.685c38",
        "type": "delay",
        "z": "219558b7.844058",
        "name": "Give Keba 1s to process request.",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "1f67257f.086d3b"
            ]
        ]
    },
    {
        "id": "1f67257f.086d3b",
        "type": "udp out",
        "z": "219558b7.844058",
        "name": "Send request to charge station",
        "addr": "${KEBA_P30_URL}",
        "iface": "",
        "port": "7090",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "890f2186.2ea8",
        "type": "udp in",
        "z": "219558b7.844058",
        "name": "",
        "iface": "",
        "port": "7090",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "14931ccd.5691d3"
            ]
        ]
    },
    {
        "id": "14931ccd.5691d3",
        "type": "change",
        "z": "219558b7.844058",
        "name": "Place raw_message in payload.raw_message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{'raw_message': msg}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "6aae28b2.fb2688"
            ]
        ]
    }
]
